/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #052c11;
  color: #E5E7EB;

}
.main-page{
    background:linear-gradient(to bottom left,rgba(0,0,0,0.9), rgba(0,0,0,0));
}
.bdy{
   background:linear-gradient(to top right,rgba(0,0,0,0.9), rgba(0,0,0,0)); 
}
/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  width:100%;
}

nav h1 {
    padding: 5px;
  color: rgb(123, 160, 130);
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ccc;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  width: 100%;
}
.hero h2 {
  font-size: 45px;
}

.hero span {
  color: rgb(123, 160, 130);
}

.hero p ,.icon li{
  margin-top: 15px;
  color: #eee;
  font-style:italic;
}
.hero-txt{
    width: 60%;
}
.hero-img{
    width: 40%;
}
.hero-img img{
    width:100%;
    margin:5px;
}
#services{
    background-color: #eee;
    border-radius: 12px;
}
.hero-img{
align-items: center;
}
.hero img {
  width: 300px;
  height: auto;
  border-radius: 20px;
  margin-left: 50px;
}

/* FLOATING SHAPES */
.shape {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #cbded0;
  border-radius: 50%;
  animation: float 5s infinite ease-in-out;
}

@keyframes float {
  0% {transform: translateY(0);}
  50% {transform: translateY(-20px);}
  100% {transform: translateY(0);}
}

/* SECTION */
section {
  padding: 20px 50px;
}

/* SERVICES */
#services h2{
color: #052c11;
}
.rows {
  display: flex;
   align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  overflow:hidden
}

.row {
  flex: 1;
  background: #eee;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
  margin-top: 18px;
  color: #052c11;
}
.row h3 a{
    text-decoration: none;
    color: #052c11;
}
.row ul {
 margin:12px;
}
.row ul li{
    padding: 8px 0;
}
.row:hover,.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(139,92,246,0.4);
}

/* PROJECTS */
.projects {
  display: flex;
align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.project {
  flex: 1;
  background: #eee;
  color: #052c11;
  padding: 20px;
  border-radius: 15px;
  margin-top: 18px;
}

/* ABOUT */
.about {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about img {
  width: 250px;
  border-radius: 20px;
}

/* CONTACT */
.contact {
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 20px;
  color: #888;
}
/* media query */
@media (max-width:768px){
  
  nav{
    padding: 10px 25px;
    font-size: 15px;
  } 
   .right-nav a{
   display: none;
  }
.hero {
  display: flex;
  align-items: center;
  padding: 40px 25px;
  width: 100%;
}
.hero h2 {
  font-size: 20px;
}
.hero p,.icon li {
  margin-top: 15px;
  color: #9CA3AF;
  font-size: 12px;
}
.hero-txt{
    width: 60%;
}
.hero-img{
    width: 40%;
}
.hero-img img{
    width:100%;
    margin:5px;
}
}